.obsidian
.DS_Store
*.aux
*.log
*.out
*.synctex.gz
*.fdb_latexmk
*.fls
*.sap
*.jpeg
*.pdf
*.swp
*.nav
*.som
*.toc
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.snm
*.synctex.gz