
[submodule "Parking functions --- parking-functions/attachments/research log"]
	path = Parking functions --- parking-functions/attachments/documents
	url = https://git@git.overleaf.com/6646ba9d3400acaf533eba3a
