
[submodule "Parking functions --- parking-functions/attachments/research log"]
	path = Parking functions --- parking-functions/attachments/documents
	url = https://git@git.overleaf.com/6646ba9d3400acaf533eba3a
[submodule "An Infinitely Large Napkin --- napkin/attachments/documents"]
	path = An Infinitely Large Napkin --- napkin/attachments/documents
	url = https://github.com/jaythad13/napkin
[submodule "Parking functions --- parking-functions/code"]
	path = Parking functions --- parking-functions/code
	url = https://github.com/jaythad13/parking-functions-code.git
[submodule "Complex Analysis --- math-135/attachments/documents"]
	path = Complex Analysis --- math-135/attachments/documents
	url = https://git.overleaf.com/66ce1caa60dd4a3f687085f6
